.b_F9F9F9 {
    background-color: #F9F9F9;
}

#section-about-1 h2 {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
}

#section-about-1 .about-banner-para {
  color: #767676;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

#section-about-1 .card {
  background-color: #f3f3f3;
  border-radius: 60px;
}

#section-about-1 .bi-house {
  color: #192c3d;
  font-size: 22px;
}

#section-about-1 span p {
  color: #192c3d;
  font-weight: 500;
  font-size: 16px;
}

#about-card {
  display: block;
}

#about-card-mobile {
  display: none;
}

#section-about-2 .about-story-btn,
#section-about-3 .about-values-btn,
#section-about-4 .about-ourTeam-btn {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #be9e6f;
  background-color: #be9e6f1a;
  border: 1.5px solid var(--sec-2, #bfa77b);
  border-radius: 8px;
  padding: 8px 18px;
}

#section-about-2 h2 {
  font-size: 34px;
  font-weight: 600;
  line-height: 44px;
}

#section-about-2 p {
  color: #000000cc;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

#section-about-2 .card {
  background-color: #192c3d;
  border-radius: 42px;
}

#section-about-2 .about-card-content h2 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 800;
  line-height: 44px;
}

#section-about-2 .about-card-content p {
  color: #ffffffa3;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

#section-about-3 {
    padding: 100px 0;
}

#section-about-3 h2,
#section-about-4 h2 {
  font-size: 34px;
  font-weight: 600;
  line-height: 44px;
}

.our-values-card {
  border-radius: 0;
}

.our-values-card h1 {
  color: #00000080;
  font-size: 100px;
  font-weight: 600;
  line-height: 140px;
}

.our-values-card h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 56px;
}

.our-values-card h3 {
  font-size: 27px;
  font-weight: 500;
  line-height: 36px;
}

#section-about-4 .bi-arrow-left {
  box-shadow: 0px 4px 20px 0px #0000001a;
}

#section-about-4 p {
  color: #000000CC;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.about-slider-card {
  margin: 0 70px 0 0;
  background-color: #192C3D;
  border-radius: 42px;
}

#section-about-4 .about-slider-card h2 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 800;
  line-height: 44px;
}

#section-about-4 .about-slider-card p {
  color: #FFFFFFA3;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

#section-about-4 .about-meetTeam-btn {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 31px;
  border: 1px solid #C5C5C5;
  background-color: #FFFFFF80;
  border-radius: 8px;
  padding: 12px 22px;
}

@media (min-width: 300px) and (max-width: 600px) {
  #section-about-1 {
    margin-top: 30% !important;
  }

  #about-card {
    display: none;
  }

  #about-card-mobile {
    display: block;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  #section-about-1 {
    margin-top: 20% !important;
  }

  #about-card {
    display: none;
  }

  #about-card-mobile {
    display: block;
  }

  #section-about-1 h2 {
    padding-top: 20px !important;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  #section-about-1 {
    margin-top: 15% !important;
  }

  #section-about-1 .position-absolute {
    top: 37% !important;
    left: 3%;
  }

  #section-about-1 .about-banner-para {
    width: 50%;
  }

  #section-about-1 h2 {
    font-size: 28px;
    line-height: 20px;
  }

  #section-about-1 .about-banner-para {
    font-size: 16px;
    line-height: 27px;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  #section-about-1 {
    margin-top: 12% !important;
  }

  #section-about-1 .position-absolute {
    top: 37% !important;
    left: 3%;
  }

  #section-about-1 .about-banner-para {
    width: 40%;
  }

  #section-about-1 h2 {
    font-size: 34px;
    line-height: 20px;
  }
}

@media (min-width: 1201px) and (max-width: 1500px) {
  #section-about-1 {
    margin-top: 10% !important;
  }

  #section-about-1 .position-absolute {
    top: 42% !important;
    left: 3%;
  }

  #section-about-1 .about-banner-para {
    width: 35%;
  }
}

@media (min-width: 1501px) and (max-width: 2000px) {
  #section-about-1 {
    margin-top: 7% !important;
    margin-left: 200px !important;
    margin-right: 200px !important;
  }

  #section-about-1 .position-absolute {
    left: 8%;
    top: 40% !important;
  }

  #section-about-1 .about-banner-para {
    width: 40%;
  }
}

@media (min-width: 1501px) and (max-width: 1800px) {
  #section-about-1 .position-absolute {
    left: 4%;
    top: 45% !important;
  }

  #section-about-1 .about-banner-para {
    width: 40%;
  }
}

@media (min-width: 1801px) and (max-width: 2000px) {
  #section-about-1 .position-absolute {
    left: 5%;
    top: 48% !important;
  }

  #section-about-1 .about-banner-para {
    width: 30%;
  }
}
