.fs-18 {
  font-size: 18px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-26 {
  font-size: 26px;
}

.c_fff {
  color: #fff;
}

.c_000 {
  color: #000;
}

.b_333333 {
  background-color: #333333;
}

.b_FFFFFF {
  background-color: #ffffff;
}

.b_fcfcfc {
  background-color: #fcfcfc;
}

.logo-main {
  width: 100%;
  max-width: 150px;
}

.navbar {
  border-bottom: 1px solid #cccccc;
  left: 0;
  right: 0;
  z-index: 1000000;
}

.navbar-toggler {
  width: 50px;
  height: 50px;
  padding: 0;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  flex-shrink: 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-nav input {
  border-radius: 62px;
  background-color: #f0f0f0;
  font-size: 14px;
  padding: 10px 80px 10px 50px;
  border: none;
}

.nav-link {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  color: #000000;
  text-decoration: none;
}

.nav-link.active {
  color: #000000 !important;
}

.search-input {
  background-color: #00000066;
  color: white;
  border: none;
  padding: 10px;
}

.search-input::placeholder {
  color: #00000066;
  opacity: 1;
}

.search-container {
  position: relative;
  display: inline-block;
}

.search-input {
  width: 100%;
  padding-right: 40px;
  color: #00000066;
  box-sizing: border-box;
}

.search-button {
  position: absolute;
  left: 15px;
  top: 22px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #00000066;
  font-size: 20px;
}

.search-button:focus {
  outline: none;
}

.login-btn {
  border: 1px solid #192c3d;
  width: Hug (121px);
  height: Hug (53px);
  border-radius: 8px;
  padding: 12px 32px;
  background-color: #fcfcfc;
  color: #192c3d;
  font-weight: 500;
  font-size: 20px;
  gap: 10px;
}

.signup-btn {
  border: 1px solid #192c3d;
  width: Hug (121px);
  height: Hug (53px);
  border-radius: 8px;
  padding: 12px 32px;
  background-color: #192c3d;
  color: #fcfcfc;
  font-weight: 500;
  font-size: 20px;
  gap: 10px;
}

@media screen and (max-width: 991px) {
  .navbar-collapse.collapse:not(.show) {
    display: block;
  }

  .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    background: #212529;
    width: 215px;
    height: 100%;
    z-index: 9999;
    padding: 25px;
    transform: translateX(-215px);
    transition: 0.5s ease-in-out;
    display: block;
  }

  .navbar-collapse.show {
    transform: translateX(0px);
  }

  .nav-overlay {
    position: absolute;
    background: #0000007d;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
    transform: translateX(-100vw);
    transition: 0.5s ease-in-out;
    display: block;
  }

  .nav-overlay.active {
    transform: translateX(0);
  }

  .nav-link.active {
    color: #ffffff !important;
  }

  .nav-link {
    color: #ffffff !important;
  }

  .navbar .nav-item-mobile {
    margin-top: 20px;
  }

  .nav-logo-mobile {
    display: block !important;
  }

  .cart-icon {
    color: #ffffff !important;
  }

  .signup-btn {
    padding: 10px 26px;
    background-color: #ffffff;
    color: #192c3d;
    font-size: 18px;
    margin-top: 15px;
  }

  .login-btn {
    padding: 10px 34px;
    background-color: #fcfcfc;
    color: #192c3d;
    font-size: 20px;
    margin-top: 15px;
  }
}
